<!-- <app-header></app-header>
<router-outlet></router-outlet> -->

<!-- <app-header (toggleSidebar)="isSidebarCollapsed = !isSidebarCollapsed"></app-header>
<div class="app-layout">
  <app-sidebar [collapsed]="isSidebarCollapsed"></app-sidebar>
  <main class="main-content" [class.collapsed]="isSidebarCollapsed">
    <router-outlet></router-outlet>
  </main>
</div> -->

<app-header (toggleSidebar)="onToggleSidebar()"></app-header>
<!-- <app-sidebar [isCollapsed]="isSidebarCollapsed"></app-sidebar> -->

<div class="app-layout" [class.collapsed]="isSidebarCollapsed">
  <div class="main-content" [class.collapsed]="isSidebarCollapsed">
    <router-outlet></router-outlet>
  </div>
</div>