.example-spacer {
  flex: 1 1 auto;
}

.toolbar-logo {
  height: 70px;
  width: auto;
  margin-right: 10px;
}
:host {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

}
.custom-toolbar {
  background-color: #003737;
  color: white;
}

mat-icon{
    color: white;
}