// Custom Theming for Angular Material
// For more information: https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@import '@angular/material/prebuilt-themes/indigo-pink.css';

html {
  @include mat.theme((color: (theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    ));
}

/* You can add global styles to this file, and also import other style files */



html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.9s ease, color 0.9s ease;
}

/* light Mode */
:root {
  --bg-color: #E6F2F2;
  --text-color: #000000;
  --toolbar-color: #003737;
}

/* Dark Mode */
:root.dark-theme {
  --bg-color: #1e1e1e;
  --text-color: #ffffff;
  --toolbar-color: #2d2d2d;
}